<div class="jumbotron">
  <h1>{{artist.name}}</h1>
  <p class="lead">
    <img ng-src="{{artist.pictureUrl}}"><br>
    Website: <a ng-href="{{artist.url}}">{{artist.url}}</a>
  </p>
  <span class="badge" ng-repeat="tag in artist.tags">{{tag}}&nbsp;</span>
  <div class="col-md-8">
		<form>
			<div class="input-group">
		      <input type="text" class="form-control" ng-model="tagName">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" ng-click="addTag()">Add Tag!</button>
		      </span>
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" ng-click="listen()"><div ng-show="listenCount">{{listenCount}}</div><div ng-hide="listenCount">Listen!</div></button>
		      </span>
		    </div>
		</form>
	</div>
</div>


